@using Signum.Test.Environment

@using (var e = Html.TypeContext<BandDN>())
{
    @Html.ValueLine(e, f => f.Name);
    <fieldset>
        <legend>@Html.PropertyNiceName(() => e.Value.Members)</legend>
        <div class="row">
            <div class="col-sm-6">@Html.EntityListDetail(e, f => f.Members, eld => { eld.DetailDiv = e.Compose("CurrentMember"); eld.FormGroupStyle = FormGroupStyle.None; })</div>
            <div class="col-sm-6" id="@e.Compose("CurrentMember")"></div>
        </div>
    </fieldset>
    
      
    @Html.EntityDetail(e, f => f.LastAward)
    <fieldset>
        <legend>@Html.PropertyNiceName(() => e.Value.OtherAwards)</legend>
        <div class="row">
            <div class="col-sm-6">@Html.EntityListDetail(e, f => f.OtherAwards, eld => { eld.DetailDiv = e.Compose("CurrentAward"); eld.FormGroupStyle = FormGroupStyle.None; })</div>
            <div class="col-sm-6" id="@e.Compose("CurrentAward")"></div>
        </div>
    </fieldset>
    
  
}